
body{
    
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
                rgba(0,0,0,0.55) url('../../media/landing.jpg') no-repeat center;
    background-size: cover;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 15px 10px 15px;
    min-height: 640px;
}
h1{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 65px;
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    color: white;
    
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    
    text-decoration: none;
    color: initial;
}

