{%extends 'all-astro/base.html'%}
 {%block content%} 
 {{block.super}}
 <div class ="main">
<h1>Welcome to The Astrohub</h1>
<div style="text-align: center">
{% include "searchfilter.html" %}
</div>

<div class="container">
    <div class="row">
       
        {%for image in images %}
        <div class="col-md-4">
            <div class="card card-cascade wider reverse my-4">
                
                <div class="view overlay">
                    <img src="{{ image.image.url }}" class="img-responsive" style="width:100%">
                    
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h4 class="card-title">
                        <strong>
                            <h2>{{ image.title }}</h2>

                        </strong>
                    </h4>
                    <p class="card-text" class="badge  badge-pill  badge-secondary"> {{image.location}} </p>
                    <p class="card-text" class="badge  badge-pill  badge-secondary"> {{image.category}} </p>
                    

                    <a href="image/{{image.id}}" style="color:Blue;font-weight:bold;">Read More</a>
                
                </div>

            </div>
        </div>


        {% endfor %}</div>
</div>
</div>
</div>
{%endblock%}